################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/Commons/bin/Debug/netcoreapp3.1
/Commons/obj
/Messages/bin/Debug/netcoreapp3.1
/Messages/obj
/Services/Account/bin/Debug/netcoreapp3.1
/Services/Account/obj
/Services/Money/bin/Debug/netcoreapp3.1
/Services/Money/obj
/Services/ServiceTemplate/bin/Debug/netcoreapp3.1
/Services/ServiceTemplate/obj
/Test/EasyNetQTest/bin/Debug/netcoreapp3.1
/Test/EasyNetQTest/obj
*.user
/Services/Money/Money/logs
/Services/Account/Account/logs
/GateWays/ApiGateWays/bin/Debug/netcoreapp3.1
/GateWays/ApiGateWays/obj
/GateWays/ApiGateWays/Properties
/Commons/bin/Release/netcoreapp3.1
/Messages/bin/Release/netcoreapp3.1
/Services/Account/bin/Release/netcoreapp3.1
/Services/Account/Properties/PublishProfiles
/work/Services/Account
/GateWays/ApiGateWays/ApiGateWays/logs
/Services/Money/.config
/Services/Money/bin/Release/netcoreapp3.1
/Services/Money/Properties/PublishProfiles
/work/Services/Money/Money/logs
/work/Services/Money
/work/Consul/opt/consul/data
/GateWays/ApiGateWay/ApiGateWay/logs
/GateWays/ApiGateWay/bin/Debug/netcoreapp3.1
/GateWays/ApiGateWay/obj
/Messages/CommonMessages/bin/Debug/netcoreapp3.1
/Messages/CommonMessages/obj
/Messages/SangongMessages/bin/Debug/netcoreapp3.1
/Messages/SangongMessages/obj
/Services/Reward/bin/Debug/netcoreapp3.1
/Services/Reward/obj
/Gateways/ApiGateway/.config
/Gateways/ApiGateway/bin/Release/netcoreapp3.1
/Gateways/ApiGateway/Properties/PublishProfiles
/Messages/CommonMessages/bin/Release/netcoreapp3.1
/Services/Reward/Reward/logs
/work/GateWays/ApiGateway/ApiGateway/logs
/work/GateWays/ApiGateway
/Messages/SangongMessages/bin/Release/netcoreapp3.1
/Services/Reward/.config
/Services/Reward/bin/Release/netcoreapp3.1
/Services/Reward/Properties/PublishProfiles
/work/Services/Reward/Reward/logs
/work/Services/Reward
/document/Consul/opt/consul/data
/Messages/GameMessages/bin/Debug/netcoreapp3.1
/Messages/GameMessages/obj
/Services/RoomMatch/bin/Debug/netcoreapp3.1
/Services/RoomMatch/obj
